<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wgu_wemery.c196pa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C196pa">
        <activity android:name=".CourseNotes"></activity>
        <activity
            android:name=".AlertActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wgu_wemery.c196pa.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermListActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wgu_wemery.c196pa.MainActivity" />
        </activity>
        <activity
            android:name=".CourseListActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wgu_wemery.c196pa.MainActivity" />
        </activity>
        <activity
            android:name=".CourseDetailActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wgu_wemery.c196pa.CourseListActivity" />
        </activity>
        <activity
            android:name=".AssessmentListActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wgu_wemery.c196pa.MainActivity" />
        </activity>
        <activity
            android:name=".AssessmentDetailActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wgu_wemery.c196pa.AssessmentListActivity" />
        </activity>
    </application>

</manifest>