<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.mybicycleshopv4.mybicyclecohort">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.PartDetail"
            android:label="Part Detail"
            android:parentActivityName=".UI.PartActivity"></activity>
        <activity
            android:name=".UI.PartActivity"
            android:label="Product Detail and Part List"
            android:parentActivityName=".UI.ProductActivity" />
        <activity
            android:name=".UI.ProductActivity"
            android:label="Product List"
            android:parentActivityName=".UI.MainActivity" />
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>